data/countData/
# data/*.xlsx
# data/*/*.xlsx
docs/
misc/
.Rhistory
.Rdata
1-CascadeIncidence_new.Rmd
2-CascadeIncidenceBayes_new.Rmd
Old_value_comparison.png
data/2015/HIVcascadeEstimates-2015.csv
data/2015/ahod*.csv
Archive
output/Results_summary.md

# Include-exclude output .csv result files
output/Compare_figures/
output/Cascade_figures/
output/*/*.rda
output/*/figures/
output/Cascade_incidence_backup - Shortcut.lnk

